<div class="card">
    <div class="card-body">
        <div class="input-group w-50 mx-auto">
            <input type="text" name="newItem" class="form-control" placeholder="Add Item..." />
            <div class="input-group-append">
                <button class="btn btn-primary">
                    Add
                </button>
            </div>
        </div>
        <div class="my-5 w-75 mx-auto">
            <ul class="list-group">
                <li class="list-group-item d-flex align-item-center justify-content-between">
                    123 <i class="fa fa-2x fa-circle-o text-primary"></i>
                </li>
            </ul>
        </div>
    </div>
</div>